.corpo {
    background: linear-gradient(50deg, #5555bbff, rgba(0,212,255,1), #eeeeeeff);
}

.form_table {
    border-color: brown;
    border-style: dotted;
    font-size: 30px;
    font-weight: 900;
    color: black;
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
    justify-content: center
}

.form_title {

    border-radius: 10px;
    padding: 5px;
    font-size: 30px;
    font-family: Courier, monospace;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    font-weight: bold;
    width: 70%;
    color: white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.form_title:hover {
    text-shadow:
		1px 1px 0 #000,
		1px 1px 0 #000,
		1px 1px 0 #000,
		1px 1px 0 #000;
}

.form_td_title {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 50%;
    color: blue;
}

.form_td_content {
    width: 50%;
    text-align: center;
    align-content: space-between;
    padding: 10px;
    color: blue;
}

.footer {
    text-align: center;
    align-content: space-between;
    width: 50%;
    padding: 10px;
    color: blue;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.button {
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
    background-color: #16a085;
    color: white;
}

.button:hover {
    background-color: blueviolet;
    color: white;
}

.text {
    width: 80%;
    font-size: 25px;
    font-weight: 100;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    padding: 30px 0;
}

.footer_text {
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
    color: black;
    width: 50%;
}